<div id="menu">
    <div class="card">
      <img src="images/surf6.jpeg">
      <div class="card-body">
        <h5 class="card-title">users</h5>
        <p class="card-text">週末サーファーです。</p>
        <a href="/users" class="btn btn-primary">users list</a>
      </div>
    </div>
    <!-- ニックネーム、誕生日、居住地、性別、歴、ホームポイント、レベル、コーチング：可or否
    項目をいれたい-->
    
    <div class="card">
      <img src="images/surf1.jpeg" class="card-img-top" alt="..."><!--messeage icon -->
      <div class="card-body">
         <p class="card-text">情報の交換をして良い波をゲットしよう！</p>
        <a href="#" class="btn btn-primary">messeage</a>
      </div>
    </div>
    
    <div class="card">
      <img src="..." class="card-img-top" alt="..."><!-- favorite icon -->
      <div class="card-body">
        <p class="card-text">お気に入りのライダーをフォローしよう！</p>
        <a href="#" class="btn btn-primary">my favorite</a>
      </div>
    </div>
    
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">search</h5>
        <p class="card-text">ホームが同じ仲間を見つけてLet's surf</p>
        <a href="#" class="btn btn-primary">serach</a>
      </div>
    </div>
</div>
